<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.test.mapper.SysUserMapper">
    <resultMap id="SysUser" type="com.hand.test.dto.SysUser">
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="authority" column="authority"></result>
    </resultMap>

    <select id="existUserByName" resultType="integer">
        select count(1) from sys_user where username=#{username}
    </select>
    <select id="selectUserByName" resultMap="SysUser">
        select username,password,authority from sys_user where username=#{username}
    </select>


</mapper>