<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.test.mapper.SysUserMapper">
    <resultMap id="SysUser" type="com.hand.test.dto.SysUser">
        <result property="account" column="account"></result>
        <result property="password" column="password"></result>
    </resultMap>

    <select id="selectByName" resultType="integer">
        select count(1) from sys_user where account=#{account}
    </select>
    <select id="selectUser" resultMap="SysUser">
        select account,password from sys_user where account=#{account} and password=#{password}
    </select>


</mapper>