<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">

        <!--防403-->
        <csrf disabled="true" />

        <!--登录页权限-->
        <intercept-url pattern="/login.html" access="permitAll"/>
        <intercept-url pattern="/loginAuth" access="permitAll"/>

        <!--静态资源权限-->
        <intercept-url pattern="/resources/**" access="permitAll"/>
        <intercept-url pattern="/lib/**" access="permitAll"/>
        <intercept-url pattern="/common/**" access="permitAll"/>
        <intercept-url pattern="/static/**" access="permitAll"/>

        <!--其余权限-->
        <intercept-url pattern="/**" access="hasRole('ADMIN')"/>

        <!--自定义登录页-->
        <form-login login-page="/login.html" />

    </http>


    <!-- 认证管理器-->
    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="daoAuthenticationProvider"/>
    </authentication-manager>

    <beans:bean id="daoAuthenticationProvider"
                class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="userService"></beans:property>
        <beans:property name="passwordEncoder" ref="passwordEncoder" />
    </beans:bean>

    <beans:bean id="userService"
                class="com.hand.test.security.MyUserDetailsService">
    </beans:bean>

    <beans:bean id="passwordEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </beans:bean>

</beans:beans>